@import "base/_variables.scss";

/*=== Change background color and font family ===*/

body {
  background: #F0F0F0;
}

/*=== Adjust overall form padding ===*/

#login {
  padding: 8% 0 0;
}
 
/*=== Change Width and Height of Logo Image + Add Custom Image File ===*/

.login h1 a {
  background-image: url('../img/logo/logo.png');
  width: 300px;
  height: 130px;
  background-size: 300px;
  margin: 0 auto;
}
 
/*=== Add a few changes to the color and style of form itself ===*/

.login form {
  margin-top: 10px;
}

.login label {
  color: #454545;
  display: block;
  margin-bottom: 1em;
  font-weight: normal;
}
 
.login #backtoblog a, .login #nav a {
  color: $darkgrey;
}
 
.wp-core-ui .button-primary {
  background: $teal;
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.wp-core-ui .button-primary:hover {
  background: $teal;
  opacity: .6;
}

button, input, select, textarea {
  font-weight: normal;
}
