/*==================================
BOARD MEMBERS
==================================*/

// List

ul.board_member_names {
    column-count: 4;
    list-style: none;
    margin-bottom: 40px;

    @include tablet {
    	column-count: 3;
    }

    @include mobile_landscape {
    	column-count: 2;
    }
}

ul.board_member_names li {
    margin: 0 0 10px;
    cursor: pointer;
    text-transform: uppercase;
}