/*==================================
Page Sections Grid
==================================*/

.page_sections_grid {
    margin-bottom: 50px;
}

// Individual Grid Block

.page_sections_grid_block img {
    margin-bottom: 10px;
}

.page_sections_grid_block {

    cursor: pointer;

    h3, h4 {
        margin-bottom: 5px;
    }

}

// Row/Column Adjustments

.page_sections_grid_block.column_1_4 {
    @include mobile_landscape {
        width: 50%;
    }
}