/*==================================
Footer Top
==================================*/

section.footer_top {
	text-align: center;
	text-transform: uppercase;
	color: $teal;
	padding: 30px 0 50px;

	@include mobile_landscape {
		padding: 20px 0 30px;
	}
}

// Social Icons

.footer_top .social_icons {
	font-size: 30px;
	margin-bottom: 30px;
}

// Menus

ul.footer_menu {
    list-style: none;
    text-align: center;
}

ul.footer_menu li {
	display: inline-block;
	margin: 0 10px;

	@include mobile_landscape {
		display: block;
	}
}

// Footer Primary Menu

ul.footer_primary_menu {
	font-family: 'museosans-700', sans-serif;
	font-size: 16px;
	line-height: 23px;
}

// Footer Secondary Menu

ul.footer_secondary_menu {
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 23px;
}

/*==================================
Footer Bottom
==================================*/

section.footer_bottom {
	text-align: center;
	background-image: $tri_color_gradient;
	padding: 40px 0 80px;

	@include mobile_landscape {
		padding: 40px 0;
	}
}

section.footer_bottom p {
	color: $white;
	font-size: 16px;
	line-height: 23px;

	&:last-child {
		margin-bottom: 0;
	}
}

// Address

.footer_address_container span:last-child {
	margin: 0 30px;

	@include tablet {
    	margin: 0;
    }
}

.footer_bottom span.address {
    @include tablet {
    	display: block;
    }
}