/*==================================
Form Elements
==================================*/

input, textarea, select {
  border: 1px solid $mediumgrey;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 10px;
}

button, input[type="submit"] {
  border: 1px solid $black;
  background: transparent;
  text-transform: uppercase;
  color: $black;
  padding: 10px 40px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: transparent;
}

input[type="checkbox"] {
  outline: 0;

  &:checked {
    background: $mediumgrey;
  }

}

/*==================================
Gravity Forms
==================================*/

// Labels/Header

.ihdf_form_wrapper.gform_wrapper .top_label .gfield_label, .ihdf_form_wrapper.gform_wrapper .gfield_checkbox label  {
    font-size: 18px;
    font-weight: normal;
    font-family: 'museosans-500';
}

.ihdf_form_wrapper.gform_wrapper {
  .name_first label, .name_last label {
      margin-bottom: 0 !important;
  }
}

.gfield.no_label label.gfield_label {
  display: none;
}

.ihdf_form_wrapper.gform_wrapper .gfield_checkbox input {
  margin: 0 10px 0 0 !important;
  padding: 10px;
  cursor: pointer;
}

.ihdf_form_wrapper.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label, .ihdf_form_wrapper.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
  font-weight: normal;
}

// Input 

.ihdf_form_wrapper.gform_wrapper {
  input[type="text"], textarea, select {
    padding: 10px !important;
    line-height: normal !important;
  }
}

.ihdf_form_wrapper.gform_wrapper .top_label input.medium, .ihdf_form_wrapper.gform_wrapper .top_label select.medium {
  width: 100%;
}

// Footer Submit Button

.ihdf_form_wrapper.gform_wrapper .gform_footer {
  text-align: center;
}

.ihdf_form_wrapper.gform_wrapper input[type="submit"] {
  color: $purple;
  border: 1px solid $purple;
  font-size: 22px !important;

  &:hover {
    background: $purple;
    color: $white;
  }
}

// Required Field

.ihdf_form_wrapper.gform_wrapper .gfield_required {
  color: $black;
}

// Errors

.ihdf_form_wrapper.gform_wrapper div.validation_error {
  color: $white;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 25px;
  background: $purple;
  border-top: 1px solid $purple;
  border-bottom: 1px solid $purple;
  font-weight: normal;
  padding: 16px 0;
  clear: both;
  width: 100%;
  text-align: center;
}

.ihdf_form_wrapper.gform_wrapper li.gfield.gfield_error, .ihdf_form_wrapper.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: transparent;
  margin-bottom: 6px !important;
  border-top: none;
  border-bottom: none;
  padding-bottom: 0px;
  padding-top: 0px;
  box-sizing: border-box;
}

.ihdf_form_wrapper.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .ihdf_form_wrapper.gform_wrapper li.gfield_error textarea {
    border: 1px solid $purple;
}

.ihdf_form_wrapper.gform_wrapper {
  .validation_message, li.gfield_error div.ginput_complex.ginput_container label, li.gfield_error ul.gfield_checkbox, li.gfield_error ul.gfield_radio {
    color: $purple;
    font-weight: normal;
  }
}

.ihdf_form_wrapper.gform_wrapper .gfield_error .gfield_label {
    color: $black;
}

// Spinner

.ihdf_form_wrapper.gform_wrapper img.gform_ajax_spinner {
    display: none!important;
}

// White Form Inputs

.white_form_fields_wrapper {
  textarea, input[type="text"] {
    background: white;
  }
}

/*==================================
Donation Form
==================================*/

// Section Title

.ihdf_form_wrapper.gform_wrapper h2.gsection_title {
  font-weight: normal !important;
  font-size: 25px !important;
}

// Frequency Selection

.ihdf_form_wrapper.gform_wrapper .frequency_selection label.gfield_label {
    display: none;
}

.frequency_selection ul.gfield_radio li {
    display: inline-block;
    padding: 20px;
    font-size: 22px;
    margin: 0 20px 0 0!important;
    color: $lightgrey;
    text-transform: uppercase;
}

.ihdf_form_wrapper.gform_wrapper .frequency_selection ul.gfield_radio li input[type=radio]:checked+label {
  font-weight: normal;
  color: $black;
}

.ihdf_form_wrapper.gform_wrapper .frequency_selection ul.gfield_radio li input {
    display: none;
}

.ihdf_form_wrapper.gform_wrapper .frequency_selection ul.gfield_radio li label {
    margin: 0;
    width: auto;
    max-width: none;
}

// Donation Amounts Custom Radio Button

.donation_amount_boxes ul.gfield_radio {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 -5px !important;
}

.ihdf_form_wrapper.gform_wrapper .donation_amount_boxes .gfield_radio li {
    width: 25%;
    padding: 0 5px !important;
    margin-bottom: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet_landscape {
      width: 33.33%;
    }

    @include tablet {
      width: 50%;
      height: 150px;
    }
}

.ihdf_form_wrapper.gform_wrapper .donation_amount_boxes .gfield_radio li input {
    display: none;
}

.ihdf_form_wrapper.gform_wrapper .donation_amount_boxes .gfield_radio li label {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 5px;
    max-width: 100%;
    font-size: 20px;
    border: 2px solid $lightgrey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ihdf_form_wrapper.gform_wrapper .donation_amount_boxes ul.gfield_radio li input[type=radio]:checked+label {
    border: 2px solid $teal;
    border-image: $teal_to_lime_gradient;
    border-image-slice: 1;
    font-weight: normal;
}

.donation_amount_sublabel {
  font-size: 12px;
  line-height: 16px;
}

// Total

.donate_form_wrapper.ihdf_form_wrapper.gform_wrapper span.ginput_total.ginput_total_3 {
    font-size: 25px;
    color: $magenta;
}

// Submit Button

.donate_form_wrapper.ihdf_form_wrapper.gform_wrapper .gform_footer {
  text-align: left;
}

.ihdf_form.teal_submit_button input[type="submit"] {
  color: $teal;
  border: 1px solid $teal;
  font-size: 18px !important;

  &:hover {
    background: $teal;
    color: $white;
  }
}

.ihdf_form.purple_submit_button input[type="submit"] {
  color: $purple;
  border: 1px solid $purple;
  font-size: 18px !important;

  &:hover {
    background: $purple;
    color: $white;
  }
}

.ihdf_form.magenta_submit_button input[type="submit"] {
  color: $magenta;
  border: 1px solid $magenta;
  font-size: 18px !important;

  &:hover {
    background: $magenta;
    color: $white;
  }
}

/*==================================
Popup Form
Currently used for 'Submit Your Dream'
==================================*/

section.popup_form_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &.open {
    opacity: 1;
    z-index: 99;
    transition: opacity .3s ease-in-out;
  }
}

.popup_form {
  background: #F0F0F0;
  padding: 20px 50px 10px;
  position: relative;
  max-height: 90vh;
  overflow: scroll;
}

/*==================================
Newsletter
==================================*/

section.ihdf_newsletter {
  text-align: center;
}

// Content

.newsletter_content {
  max-width: 800px;
  margin: 0 auto;
}

.newsletter_content h2 {
  @include mobile_landscape {
    font-size: 20px;
  }
}

.newsletter_content p {
  font-size: 22px;
  line-height: 30px;

  @include mobile_landscape {
    font-size: 16px;
    line-height: 20px;
  }
}

.newsletter_content p a.ihdf_button {
  font-size: 16px;
  line-height: 20px;
}

// Email Field

.ihdf_mailchimp_embed #mc_embed_signup input.email, .ihdf_constant_contact_embed input[type="email"], .ihdf_other_embed input[type="email"] {
  border-radius: 0 !important; 
  box-shadow: none !important;
}

.ihdf_mailchimp_embed #mc_embed_signup .clear {
  text-align: center;
}

// Submit Button

.ihdf_newsletter input[type="submit"], .ihdf_mailchimp_embed input#mc-embedded-subscribe, .ihdf_constant_contact_embed .ctct-form-button, .ihdf_other_embed input[type="submit"] {
    width: auto;
    color: $purple !important;
    border: 1px solid $purple !important;
    border-radius: 0 !important;
    margin: 0 auto;
    background: transparent !important;
    font-size: 16px;

    &:hover {
      background: $purple !important;
      color: $white !important;
    }
}

// Constant Contact Specific

.ihdf_constant_contact_embed .ctct-form-footer {
  display: none !important;
}