/*==================================
Main Header
==================================*/

header.main_header {
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,1);
    z-index: 20;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;

    &.absolute {
        position: absolute;
    }

    &.scrolled {
        box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, .2);
    }
}

header.main_header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include tablet_landscape {
        display: none;
    }
}

// Logo

a.logo {
    display: block;
    width: 250px;
    padding: 20px 0;
    transition: all .3s ease-in-out;

    @include tablet_landscape {
        width: 200px;
    }

    @include mobile_landscape {
        width: 150px;
    }
}

a.logo img {
    display: block;
}

header.main_header.scrolled a.logo {
    width: 200px;
    padding: 10px 0;
}

/*==================================
Main Navigation
==================================*/

nav.main_navigation {
   display: flex;
}

nav.main_navigation ul.main_menu {
    margin: 0;
    display: flex;
    align-items: center;
}

nav.main_navigation li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    margin: 0 10px;
    position: relative;
}

nav.main_navigation .main_menu > li {
    padding: 30px 0;
}

// Sub Menu

nav.main_navigation ul.sub-menu {
    position: absolute;
    background: $purple_to_teal_gradient;
    color: $white;
    margin: 0;
    width: 300px;
    margin-left: -110px;
    top: 82px;
    opacity: 0;
    box-shadow: 1px 1px 5px black;
    transition: visibility 0s, top .3s ease-in-out, opacity 0s ease-in-out;
    visibility: hidden;
}

nav.main_navigation ul.sub-menu:before {
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(#2d8bbc,1);
    position: absolute;
    top: -15px;
    left: 47%;
}

nav.main_navigation ul.sub-menu li {
    display: block;
    margin: 0;
}

nav.main_navigation ul.sub-menu li a {
    display: block;
    background: transparent;
    padding: 10px;
    transition: all 0s ease-in-out;

    &:hover {
        color: $black;
        background: $white;
    }
}

nav.main_navigation li.menu-item-has-children:hover ul.sub-menu {
    visibility: visible;
    transition: visibility 0s, top .3s ease-in-out, opacity .2s ease-in-out;
    opacity: 1;
    top: 76px;
}

// Right Side Buttons/Icons

ul.main_navigation_ctas {
    margin: 0;
    display: flex;
    align-items: center;
}

ul.main_navigation_ctas a.ihdf_button span {
    @include tablet_landscape {
        display: none;
    }
}

ul.main_navigation_ctas i {
    &.fa-search, &.fa-envelope {
        font-size: 23px;
        color: $darkgrey;
        cursor: pointer;
    }
}

ul.main_navigation_ctas li:last-child {
    margin: 0 0 0 10px;
}

.main_navigation_ctas img.search_toggle {
    width: 23px;
    cursor: pointer;
    display: block;
}

.main_navigation_ctas img.mail_icon {
    width: 30px;
    display: block;
}

/*==================================
Search
==================================*/

section.ihdf_search {
    text-align: center;
    background: white;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;

    &.open {
        max-height: 200px
    }
}

// Form Element

section.ihdf_search form {
    padding: 10px 0;
}

.ihdf_search input.search-field {
    border: 0;
    font-size: 16px;
    width: 300px;
    border-bottom: 1px solid $lightgrey;
    outline: 0;
}

.ihdf_search button.search-submit {
    border: 0;
    padding: 0;
    outline: 0;
    font-size: 14px;
    color: $lightgrey;
}

/*==================================
Mobile Header
==================================*/

header.mobile_header {
    display: none;
    background: rgba(255,255,255,1);
    padding: 10px 0;
   
    @include tablet_landscape {
        display: block;
    }
}

header.mobile_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Logo Side

header.mobile_header a.logo {
    padding: 0px;
}

// Right Side

.mobile_header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mobile_header_right a.ihdf_button {
    margin-right: 10px;
}

.mobile_header_right a.ihdf_button span {
    @include mobile_landscape {
        display: none;
    }
}

.mobile_header_right a.ihdf_button {
    @include mobile_landscape {
        padding: 10px;
        line-height: 10px;
    }
}

.menu_icon {
    position: relative;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    height: 14px;
    width: 20px;
    display: block;

    &:before {
        content: "";
        width: 100%;
        border-bottom: 2px solid $black;
        position: absolute;
        top: 4px;
    }    
}

/*==================================
Mobile Menu
==================================*/

nav.mobile_navigation ul.menu { 
    position: relative;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    list-style-type: none;
    background: $purple_to_teal_gradient;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease-in-out;

    &.open {
        max-height: 1000px;
        opacity: 1;
    }
}

nav.mobile_navigation li {
    border-bottom: 1px solid $white;
    padding: 10px 0px;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    padding: 20px 10px;
    margin: 0;
    position: relative;

    &:last-child {
        border-bottom: 0;
    }
}

nav.mobile_navigation li.menu-item-has-children:after {
    content: '+';
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 700;
}

nav.mobile_navigation ul li a {
    color: $white;
}

// Sub Menu

.mobile_navigation ul.sub-menu {
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;

    &.open {
        max-height: 500px;
        opacity: 1;
    }
}

.mobile_navigation ul.sub-menu li {
    border-bottom: 0;
    padding: 20px 20px 10px;
    margin: 0;
    position: relative;

    &:last-child {
        padding: 20px 20px 0;
    }
}