/*==================================
Lightbox Gallery
==================================*/

.wp_custom_gallery {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -10px;
}

.wp_custom_gallery a {
	padding: 0 10px;
	margin-bottom: 20px;

  @include mobile_landscape {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}

// Set the column structure

.wp_custom_gallery.one_column a {
  width: 100%;
}

.wp_custom_gallery.two_columns a {
  width: 50%;
  @include mobile {
    width: 100%;
  }
}

.wp_custom_gallery.three_columns a {
  width: 33.33%;

  @include mobile_landscape {
    width: 50%;
  }
  @include mobile {
    width: 100%;
  }
}

.wp_custom_gallery.four_columns a {
  width: 25%;

  @include mobile_landscape {
    width: 50%;
  }
}

.wp_custom_gallery.five_columns a {
  width: 20%;
  @include mobile_landscape {
    width: 50%;
  }
}

.wp_custom_gallery.six_columns a {
  width: 16.66%;
  @include tablet {
    width: 33.33%;
  }
  @include mobile_landscape {
    width: 50%;
  }
}

.wp_custom_gallery.seven_columns a {
  width: 14%;
  @include tablet_landscape {
    width: 20%;
  }
  @include tablet {
    width: 33.33%;
  }
  @include mobile_landscape {
    width: 50%;
  }
}

.wp_custom_gallery.eight_columns a {
  width: 12.5%;

  @include tablet_landscape {
    width: 20%;
  }
  @include tablet {
    width: 33.33%;
  }
  @include mobile_landscape {
    width: 50%;
  }
}

.wp_custom_gallery.nine_columns a {
  width: 11.11%;
  padding: 0 5px;
  margin-bottom: 10px;

  @include tablet_landscape {
    width: 20%;
  }
  @include tablet {
    width: 33.33%;
  }
  @include mobile_landscape {
    width: 50%;
  }
}

// Thumbnail & Overlay

.wp_custom_gallery_thumbnail {
  position: relative;

  &:before {
    content: '';
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($purple, .5);
    transition: all .3s ease-in-out;    
  }
}

.wp_custom_gallery_thumbnail:hover:before {
  opacity: 1;
}

.wp_custom_gallery_thumbnail img {
  display: block;
  width: 100%;
}

/*==================================
Magnific Popup
==================================*/

img.mfp-img {
  padding: 60px 0;
}

// Arrows

button.lightbox_arrow {
	background: $purple;
  color: $white;
  border: 0;
	position: absolute;
	top: 50%;
	padding: 0px 15px;
  font-size: 30px;
  height: 100px;
  margin-top: -50px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
		background: $white;
		color: $purple;
	}

  @include mobile_landscape {
    padding: 0 5px;
    font-size: 16px;
    height: 40px;
  }
}

button.lightbox_arrow_left {
    left: 0;

    &:before {
    	content: '\f104';
    	font-family: FontAwesome;
    }
}

button.lightbox_arrow_right {
    right: 0;

    &:before {
    	content: '\f105';
    	font-family: FontAwesome;
    }
}

// Container Adjustments

.mfp-image-holder .mfp-content {
  max-width: 90%;
  background: transparent;
}

.mfp-figure:after, .mfp-iframe-scaler iframe {
  box-shadow: none;
  background: transparent;
}

// Magnific Animations

.mfp-fade.mfp-bg {
  opacity: 0;
  background: rgba($black, .8);
  transition: all .3s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
	transition: all .3s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}