/*==================================
Masonry Grid
==================================*/

section.ihdf_masonry {
    display: flex;
}

// Outer Grid

.outer_grid_column1 {
    width: 30%;
    background-size: cover;
    background-position: center;
    position: relative;

    .item_overlay {
    	background: rgba($magenta,.8);
    }

    @include tablet {
		display: none;
	}
}

.outer_grid_column2 {
    width: 70%;

    @include tablet {
		width: 100%;
	}
}

// Inner Grid

.inner_grid_row {
    display: flex;
}

// Inner Grid Top Row

.inner_grid_row.top .masonry_item {

	&:first-child {
		width: 50%;

		.item_overlay {
	    	background: rgba($teal,.8);
	    }
	}

	&:last-child {
		width: 50%;

		.item_overlay {
	    	background: rgba($purple,.8);
	    }
	}

}

// Inner Grid Bottom Row

/// Without Video

.inner_grid_row.bottom .masonry_item {

	&:first-child {
		width: 65%;

		.item_overlay {
	    	background: rgba($purple,.8);
	    }
	}

	&:last-child {
		width: 35%;

		.item_overlay {
	    	background: rgba($lime,.8);
	    }
	}

}

/// With Video

.with_video .inner_grid_row.bottom .video_embed {
	width: 65%;

	@include tablet {
		width: 100%;
	}
}

.with_video .inner_grid_row.bottom .masonry_item {
	width: 35%;
	padding-top: 0;

	.item_overlay {
    	background: rgba($lime,.8);
	}
}

// Masonry Items w/ Background Image

.masonry_item {
    background-size: cover;
    background-position: center;
	position: relative;
	min-height: 300px;

	@include tablet_landscape {
		min-height: 250px;
	}

	@include mobile_landscape {
		min-height: 150px;
	}

}

.with_video .masonry_item {
	@include tablet {
    	display: none;
    }
}

// Item Overlay

.item_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    opacity: 0;
    color: $white;
    transition: all .5s ease-in-out;

	@include tablet_landscape {
		display: none;
	}
}

.item_overlay h4 {
	margin-bottom: 0;
}

.masonry_item:hover .item_overlay {
	opacity: 1;
}

.item_overlay_content {
	max-width: 450px;
	margin: 20px auto 0;
	transition: all .5s ease-in-out;
}

.masonry_item:hover .item_overlay_content {
	margin: 0px auto 0;
}
