/*==================================
General Sliders
==================================*/

// Slider Container
// Hide overflow for smooth height adjustments.

.flexslider {
	overflow: hidden;
}

.flexslider ul.slides {
	overflow: hidden;
}

// Arrow Navigation

.ihdf_slider .flex-direction-nav i {
    color: $white;
    font-size: 50px;
    line-height: 32px;

    @include tablet {
    	font-size: 30px;
    }

    @include mobile_landscape {
    	display: none;
    }
}

.ihdf_slider .flex-direction-nav .flex-prev {
    left: 20px;

    @include tablet {
    	left: 10px;
    }
}

.ihdf_slider .flex-direction-nav .flex-next {
    right: 20px;

    @include tablet {
    	right: 10px;
    }
}

/*==================================
Featured Posts Slider
==================================*/

.featured_slider {
	margin-bottom: 50px;
}

.featured_slider .slide_content_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.featured_slider .slide_content {
	max-width: 500px;
	color: $white;
}

.featured_slider .slide_content .title_container {
	margin-bottom: 10px;
}

.featured_slider .slide_content h1 {
    line-height: 50px;
    display: inline;
    box-decoration-break: clone;
    padding: 0 8px;

    @include mobile_landscape {
    	line-height: 40px;
    }
}

.featured_slider .slide_content p.description {
    padding: 10px;
}

// Image Slide

.featured_slider ul.slides li.with_background_image {
	background-size: cover;
	background-position: center;
    height: 600px;

    @include mobile_landscape {
    	height: 500px;
    }

    @include large_desktop {
        height: 800px;
    }
}

// Content Alignment

.featured_slider .slide_content_container .container {
	display: flex;
	align-items: center;
}

.featured_slider .slide_content_container .container.right_aligned {
	justify-content: flex-end;
}

.featured_slider .slide_content_container .container.center_aligned {
	justify-content: center;
}

/*==================================
Testimonial Slider
==================================*/

h2.testimonial_header {
    margin: 30px 0;
}

.testimonial_slider {
	color: $white;
	margin-bottom: 50px;
}

.testimonial_slider ul.slides li {
  	position: relative;
 }

// Content

.testimonial_content_container {
	padding: 150px 0;
	z-index: 3;
	position: relative;

	@include tablet {
		padding: 100px 0;
	}
}

.testimonial_content_container .container {
	display: flex;
}

// Slide with Background Image

.testimonial_slider ul.slides li.with_background_image {
  	background-size: cover;
  	background-position: center;
  	min-height: 500px;
 }

 // Gradient overlay on background image

.testimonial_slider li.with_background_image:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: .5;
	width: 100%;
    height: 100%;
    z-index: 2;
}

.testimonial_slider li.with_background_image.teal_to_lime_gradient:before {
	background: $teal_to_lime_gradient;
}

.testimonial_slider li.with_background_image.purple_to_teal_gradient:before {
	background: $purple_to_teal_gradient;
}

li.with_background_image.magenta_to_orange_gradient:before {
	background: $magenta_to_orange_gradient;
}

li.with_background_image .testimonial_content {
    max-width: 450px;
}

// Text Alignment

.testimonial_content_container .left_aligned {
	justify-content: flex-start;
}

.testimonial_content_container .right_aligned {
	justify-content: flex-end;
}

// Static Submit Your Dream Button

.submit_your_dream {
	position: absolute;
    bottom: 20px;
    z-index: 99;
    left: 50%;
    margin-left: -100px;
    cursor: pointer;
}

// Static Header

.testimonial_slider_header {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.testimonial_slider_header h2 {
	@include tablet {
		font-size: 18px;
		line-height: 20px;
	}
}

/*==================================
Post Carousel
==================================*/

// Structure

.ihdf_post_carousel {
	margin-bottom: 30px;
}

// Carousel Item Content

.ihdf_post_carousel_content {
    padding: 0 30px;
}

.ihdf_post_carousel_content img {
	margin-bottom: 20px;
}

.ihdf_post_carousel_content {
	h2, h3, h4 {
		margin-bottom: 5px;
	}
}

// Arrow Navigation

.ihdf_post_carousel .flex-direction-nav a {
	top: 30%;
}

.ihdf_post_carousel .flex-direction-nav i {
    color: $darkgrey;
    font-size: 33px;
    line-height: 32px;
}

.ihdf_post_carousel .flex-direction-nav .flex-prev {
    left: 0px;
}

.ihdf_post_carousel .flex-direction-nav .flex-next {
    right: 0px;
}
