/*==================================
Lists
==================================*/

ul, ol {
  margin: 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

// Styled list within content areas

.wysiwyg ul, ol {
  margin: 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

.wysiwyg li {
  margin-left: 1em;
}

// Centered List

ul.centered_list {
  list-style: none;
  text-align: center;
}

ul.centered_list li {
  display: inline-block;
  margin: 0 10px 0;
}

// Components List

ul.components_list {
  list-style: none;
}

ul.components_list li {
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: 28px;

  @include mobile_landscape {
    font-size: 18px;
    line-height: 25px;
  }
}

// Plus List

ul.plus_list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.plus_list li {
  padding-left: 2em;
  text-indent: -1em;
  margin-bottom: 20px;
}

ul.plus_list li:before {
  content: "+";
  padding-right: 14px;
  font-size: 27px;
  font-weight: bold;
  display: inline-block;
  line-height: 30px;
}

/*==================================
Buttons
==================================*/

input, button, textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

a.ihdf_button {
    border: 1px solid;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &.purple {
      color: $purple;

      &:hover {
        background: $purple;
        border-color: $purple;
        color: $white;
      }
    }

    &.teal {
      color: $teal;

      &:hover {
        background: $teal;
        border-color: $teal;
        color: $white;
      }
    }

    &.magenta {
      color: $magenta;
      &:hover {
        background: $magenta;
        border-color: $magenta;
        color: $white;
      }
    }

    &.lime {
      color: $lime;
      &:hover {
        background: $lime;
        border-color: $lime;
        color: $white;
      }
    }

    &.orange {
      color: $orange;
      &:hover {
        background: $orange;
        border-color: $orange;
        color: $white;
      }
    }

    &.white {
      color: $white;
      &:hover {
        background: $white;
        border-color: $white;
        color: $black;
      }
    }
}

a.ihdf_solid_button {
  padding: 10px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

a.donate_button {
    color: $magenta;
    display: inline-block;
}

a.donate_button img {
    width: 18px;
    margin-right: 5px;
    display: inline;
}

/*==================================
IMAGE HOVER EFFECT
==================================*/

// Image hover effect

.hover_image_container {
  position: relative;
}

.hover_image_container img.hover {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.hover_image_container:hover {
  img.static {
      opacity: 0;
  }
  img.hover {
      opacity: 1;
  }
}

/*==================================
Plyr Video
==================================*/

// Controls Custmizations

button.plyr__play-large {
  background: $teal;
  color: $white;
  border: 0;
  padding: 15px 30px;
  border-radius: 3px;
  transition: all .3s ease-in-out;

  &:hover {
    background: $white;
    color: $teal;
  }
}

.plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
  background: transparent !important;

  .plyr__controls button svg {
    fill: $teal;
  }
}

.plyr__progress--played, .plyr__volume--display {
  color: $teal;
}

.plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
  background: $teal;
}

/*==================================
Donate Floater
==================================*/

a.donate_floater {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    right: -30px;
    opacity: 0;
    font-size: 30px;
    top: 30%;
    width: 50px;
    padding: 10px;
    background: rgba(255,255,255,.9);
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    transition: all .3s ease-in-out;
    color: $magenta;

    &:hover {
      background: $magenta;
      color: $white;
    }

    @include mobile_landscape {
      display: none;
    }
}

a.donate_floater.visible {
  opacity: 1;
  right: 0px;
}

/*==================================
Quote
==================================*/

.ihdf_quote_container {
  &.purple {
    color: $purple;
  }
  &.teal {
    color: $teal;
  }
  &.magenta {
    color: $magenta;
  }
  &.lime {
    color: $lime;
  }
  &.orange {
    color: $orange;
  }
}

// Citation

h4.ihdf_quote_citation {
    text-align: right;
}

/*==================================
Captions
==================================*/

figcaption.wp-caption-text {
  text-align: center;
  text-transform: uppercase;
  color: $lightgrey;
}

.single .page_content figure.wp-caption {
  &.alignnone, &.aligncenter {
    max-width: 100%;
    margin: 0 auto 20px;
  }
}

/*==================================
Loading Gradient
==================================*/

.loading_gradient {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  display: block;

  &.fade {
    opacity: 0;
  }
}

/*==================================
Social Share Bar
Basic social share bar with social icons
==================================*/

.social_share_bar {
  margin-bottom: 20px;
  color: $lightgrey;
  text-transform: uppercase;

  a {
    color: $lightgrey;
    font-size: 20px;
  }
}

/*==================================
Share This Bar
Used to share specific content
==================================*/

ul.share_this_bar {
  margin-bottom: 20px;
  list-style: none;
}

.share_this_bar li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.share_this_bar a {
  text-decoration: none;
  cursor: pointer;
  color: $teal;
}

/*==================================
Graduate Logos Grid
==================================*/

ul.graduate_logos_grid {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.graduate_logos_grid li {
  width: 16.66%;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile_landscape {
    width: 33.33%;
  }

  @include mobile {
    width: 50%;
  }
}

.graduate_logos_grid img {
  max-width: 100px;
  filter: grayscale(100%);
  transition: all .3s ease-in-out;

  &:hover {
    filter: grayscale(0%);
  }
}

/*==================================
Icons
==================================*/

// Social

ul.social_icons {
  margin: 0;
}

ul.social_icons li {
    display: inline-block;
    margin: 0 10px;
}

ul.social_icons.flush_left li:first-child {
  margin: 0 10px 0 0;
}

ul.social_icons.flush_right {
  text-align: right;

  li:first-child {
    margin: 0 10px 0 0;
  }

  li:last-child {
    margin: 0 0 0 10px;
  }
}

// Close

.close_icon {
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 17px;
  top: 20px;
  right: 20px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $black;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/*==================================
Pagination
==================================*/

.ihdf_pagination {
  text-align: center;
  margin-bottom: 50px;
}

// Page Numbers

.ihdf_pagination .page-numbers.current {
  color: $purple;
}

// Arrows

.ihdf_pagination .prev {
  margin-right: 10px;
}

.ihdf_pagination .next {
  margin-left: 10px;
}

/*==================================
Gradient Scale
==================================*/

.gradient_scale {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  @include tablet {
    display: none;
  }
}

.gradient_scale h3 {
  font-family: 'museosans-700', sans-serif;
  margin-bottom: 0;
  color: $white;
}

/*==================================
Get Involved
==================================*/

section.ihdf_get_involved_component {
  text-align: center;
}

/*==================================
Loading Spinner
==================================*/

.loading_spinner {
    animation: rotate 1s infinite linear;
    box-shadow: 0 0 1px #FFF inset;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    background: #FFF;
    background-image: linear-gradient(25deg,$teal 4%,transparent 63%),linear-gradient(50deg,$purple 27%,transparent 60%);
    background-image: -webkit-linear-gradient(25deg,$teal 4%,transparent 63%),-webkit-linear-gradient(50deg,$purple 27%,transparent 60%);
    width: 80px;
    height: 80px;

    @include tablet {
      display: none;
    }
}
  
.loading_spinner:after {
    border-radius: 50%;
    box-shadow: 0 0 5px #FFF;
    content: '';
    display: block;
    position: relative;
    margin: 8px auto;
    width: 68px;
    height: 65px;
    background: #fff;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*==================================
Read More
==================================*/

.read_more_content {
  display: none;
}

.read_more_link {
  cursor: pointer;
}