/*==================================
TYPOGRAPHY
==================================*/

// Proxima Nova

@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proxima-nova/ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/proxima-nova/ProximaNova-Medium.otf')  format('opentype'),
	     url('../fonts/proxima-nova/ProximaNova-Medium.woff') format('woff'), url('../fonts/proxima-nova/ProximaNova-Medium.ttf')  format('truetype'), url('../fonts/proxima-nova/ProximaNova-Medium.svg#ProximaNova-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Museo Sans 500

@font-face {
  font-family: 'museosans-500';
  src: url('../fonts/museosans-500/MuseoSans-500.eot?#iefix') format('embedded-opentype'),  url('../fonts/museosans-500/MuseoSans-500.otf')  format('opentype'),
	     url('../fonts/museosans-500/MuseoSans-500.woff') format('woff'), url('../fonts/museosans-500/MuseoSans-500.ttf')  format('truetype'), url('../fonts/museosans-500/MuseoSans-500.svg#MuseoSans-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Museo Sans 700

@font-face {
  font-family: 'museosans-700';
  src: url('../fonts/museosans-700/MuseoSans-700.eot?#iefix') format('embedded-opentype'),  url('../fonts/museosans-700/MuseoSans-700.otf')  format('opentype'),
	     url('../fonts/museosans-700/MuseoSans-700.woff') format('woff'), url('../fonts/museosans-700/MuseoSans-700.ttf')  format('truetype'), url('../fonts/museosans-700/MuseoSans-700.svg#MuseoSans-700') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Museo Slab 500

@font-face {
  font-family: 'museoslab-500';
  src: url('../fonts/museoslab-500/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),  url('../fonts/museoslab-500/MuseoSlab-500.otf')  format('opentype'),
	     url('../fonts/museoslab-500/MuseoSlab-500.woff') format('woff'), url('../fonts/museoslab-500/MuseoSlab-500.ttf')  format('truetype'), url('../fonts/museoslab-500/MuseoSlab-500.svg#MuseoSlab-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Museo Slab 700

@font-face {
  font-family: 'museoslab-700';
  src: url('../fonts/museoslab-700/MuseoSlab-700.eot?#iefix') format('embedded-opentype'),  url('../fonts/museoslab-700/MuseoSlab-700.otf')  format('opentype'),
	     url('../fonts/museoslab-700/MuseoSlab-700.woff') format('woff'), url('../fonts/museoslab-700/MuseoSlab-700.ttf')  format('truetype'), url('../fonts/museoslab-700/MuseoSlab-700.svg#MuseoSlab-700') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*==================================
GENERAL FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	background-color: $white;
	color: $black;
}

body, p {
	font-size: 16px;
	line-height: 25px;
	font-family: 'proxima-nova', sans-serif;
}

h1 {
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
	font-family: 'museosans-500', sans-serif;

	@include tablet {
		font-size: 30px;
		line-height: 35px;
	}

	@include mobile_landscape {
		font-size: 25px;
		line-height: 30px;
	}
}

h2 {
	font-size: 32px;
	line-height: 40px;
	font-family: 'museosans-500', sans-serif;

	@include tablet {
		font-size: 25px;
		line-height: 30px;
	}
}

h3 {
	font-size: 25px;
	line-height: 30px;
	font-family: 'museosans-500', sans-serif;

	@include tablet {
		font-size: 22px;
		line-height: 25px;
	}
}

h4 {
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	font-family: 'museosans-500', sans-serif;

	@include tablet {
		font-size: 18px;
		line-height: 25px;
	}
}

h5 {
	font-size: 18px;
	line-height: 25px;
	font-family: 'proxima-nova', sans-serif;
}

p, h1, h2, h3, h4, h5{
	margin: 0px 0px 20px;
}

h1, h2, h3, h4, h5 {
	letter-spacing: .4px;
	font-weight: normal;
}

// Bold

b, strong {
    // font-family: 'nuorderbold', sans-serif;
}

// Slab Font

.museo_slab {
	text-transform: none;
	font-family: 'museoslab-500', sans-serif;
}

.museo_slab_display {
	text-transform: none;
	font-size: 80px;
	line-height: 80px;
	font-family: 'museoslab-700', sans-serif;

	@include mobile_landscape {
		font-size: 60px;
		line-height: 60px;
	}
}

/*==================================
LINKS
==================================*/

a, a:visited, a:active, a:focus {
	color: inherit;
	text-decoration: none;
	outline: 0;
}

a {
	transition: color .2s ease-in-out;

	&:hover {
		color: $black;
	}
}

// Styled links within content areas

.wysiwyg a {
    color: $teal;
	text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

a.underlined_link {
	text-decoration: underline;
	text-transform: uppercase;
	color: $black;

	&:hover {
		text-decoration: none;
	}
}