/*==================================
HELPERS
==================================*/

// Colors

.white_text {
  color: $white;
}

.teal_text {
  color: $teal;
}

.purple_text {
  color: $purple;
}

.grey_text {
  color: $lightgrey;
}

.lime_text {
  color: $lime;
}

// Background Gradients

.purple_to_teal_gradient {
  background-image: $purple_to_teal_gradient;
}

.teal_to_lime_gradient {
  background-image: $teal_to_lime_gradient;
}

.magenta_to_orange_gradient {
  background-image: $magenta_to_orange_gradient;
}

// Margins

.margin_bottom_0 {
  margin-bottom: 0px;
}

// Padding

.padding_bottom_50 {
  padding-bottom: 50px;
}

.padding_bottom_100 {
  padding-bottom: 100px;
}

// Fonts

.uppercase {
  text-transform: uppercase;
}

// Alignment

.text_center {
  text-align: center;
}

/*==================================
Image / Caption Alignment
==================================*/

.alignleft {
  display: inline;
  max-width: 50%;
  float: left;
  margin: 0 20px 20px 0;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.alignright {
  display: inline;
  max-width: 50%;
  float: right;
  margin: 0 0 20px 20px;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}