/*==================================
SINGLE IMAGE HEADER
==================================*/

.page_header {
    position: relative;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    height: 500px;

    @include tablet {
        height: 400px;
    }

    @include mobile_landscape {
        height: 300px;
    }

    @include large_desktop {
        height: 650px;
    }
}

// Image

.page_header img {
	display: block;
	width: 100%;
}

// Container Animation on Load

.page_header_content .container {
    margin-top: 30px;
    transition: margin .6s ease-in-out;
}

.loaded .page_header_content .container {
    margin-top: 0px;
}

// Content

.page_header_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.page_header h1 {
    color: $white;
    line-height: 50px;
    display: inline;
    box-decoration-break: clone;
    padding: 0 8px;

    @include mobile_landscape {
        line-height: 40px;
    }
}

// No Header Image

.page_header.without_header_image {
    position: relative;
    height: auto;
    margin-bottom: 20px;
    background: $tri_color_gradient;
    padding: 20px 0;
}

.page_header.without_header_image h1 {
    padding: 0;
}