/*==================================
GENERAL STRUCTURE
==================================*/

.main_wrapper {
    overflow-x: hidden;
}

.main_content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding-top: 113px;

    &.loaded {
        opacity: 1;
    }

    @include tablet_landscape {
        padding-top: 0;
    }
    
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.small_container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

/*==================================
GRID
==================================*/

.ihdf_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -15px;

    @include mobile_landscape {
        margin: 0 -10px;
    }
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
	margin: 0px 0px 15px;
	padding: 0px 15px;
	float: left;
	display: inline-block;

	img {
		display: block;
    }
    
    @include mobile_landscape {
        margin: 0 0 10px;
        padding: 0 10px;
    }
}

.flex_vertical_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include tablet {
        width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
    }
}

/*==================================
Full Width Panels
==================================*/

.ihdf_panel {
    padding: 50px 0;
    margin-bottom: 20px;

    @include mobile_landscape {
        padding: 30px 0;
    }
}

.ihdf_panel_padding_top {
    padding: 50px 0 0;

    @include mobile_landscape {
        padding: 30px 0 0;
    }
}

.ihdf_panel_padding_bottom {
    padding: 0 0 30px;

    @include mobile_landscape {
        padding: 0 0 30px;
    }
}

/*==================================
SITE ORIGIN
==================================*/

// Widget Container

.so-widget-sow-editor {
    margin-bottom: 50px;

    @include mobile_landscape {
        margin-bottom: 30px;
    }
}

// Title

.so_widget_title {
    text-align: center;
}

// Consistent Image Grid

.uniform_image_height .sow-image-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uniform_image_height .so-widget-sow-image .sow-image-container img {
    max-height: 100%;
    max-width: 80%;
    width: auto;
}

/*==================================
POST CARD COMPONENT
==================================*/

.post_card_container {
    margin-bottom: 30px;
}

.post_card_container {
    h3, h4 {
        margin-bottom: 5px;
    }
}

// Colors

.post_card_container h3 a {
    text-decoration: none;
    color: $black;
}

.post_card_container.purple {
    h3, h3 a, .post_meta a, h4 {
        color: $purple;
    }
}

// Meta

.post_meta {

    h4 {
        font-size: 20px;
        line-height: 25px;
    }

    h4, a {
        color: $lightgrey;
        text-decoration: none;
    }
}

/*==================================
CARD COMPONENT
==================================*/

.ihdf_card {
    padding: 20px;
    background: rgba($white, .9);

    h3 {
        color: $teal;
    }

    p:last-child, .so-widget-sow-editor {
        margin-bottom: 0;
    }
}

/*==================================
GRADIENT BORDER BOX
==================================*/

.gradient_border_box {
    border: 2px solid $teal;
    border-image: $teal_to_lime_gradient;
    border-image-slice: 1;
    padding: 20px;
    margin-bottom: 30px;
}

.gradient_border_box p:last-child {
    margin-bottom: 0;
}

/*==================================
PAGE W/ SIDEBAR
==================================*/

.page-template-page_with_sidebar .column_1_3, .page-template-page_with_sidebar .column_2_3 {
  @include tablet {
    width: 100%;
  }
}