/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;
$black: #000000;

// Greys

$lightgrey: #C9C8CA;
$mediumgrey: #979797;
$darkgrey: #4A4A4A;

// Vibrants

$teal: #00B2BF;
$lime: #98C21F;
$magenta: #E11383;
$orange: #FF8B15;
$purple: #5E61B9;

// $form_error_red: #BF3838;

// Gradients

$tri_color_gradient: linear-gradient(90deg, $purple 0%, $teal 48%, $lime 100%);

$purple_to_teal_gradient: linear-gradient(90deg, $purple 0%, $teal 100%);

$teal_to_lime_gradient: linear-gradient(90deg, $teal 0%, $lime 100%);

$magenta_to_orange_gradient: linear-gradient(90deg, $magenta 0%, $orange 100%);
